.player {

    .player-buttons {
        display: flex;
        margin: 0 4vw;

        .player-button {
            background: rgba(32, 32, 32, 0.8);
            border-width: 0.8vw;
            margin: 1vw;
            border-radius: 1.4vw;
            text-align: center;
            font-weight: bold;
            padding: 2.4vw 0;
            position: relative;
            color: #909090;
            font-size: 4.5vw;

            &.enabled {
                color: #ffffff;
            }
        }

        .pass-button {
            flex-grow: 5;

            &:before {
                content: "× ";
            }

            &.enabled {
                text-shadow: #06425a;

                &:after {
                    border-style: solid;
                    border-color: #ffffff;
                    box-shadow: #06425a 0 0 2vw, #06425a 0 0 2vw inset;
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: block;
                    border-radius: 1.4vw;
                }
            }
        }

        .discard-button {
            flex-grow: 8;

            &:before {
                content: "↑ ";
            }
        }

        .next-game-button {
            flex-grow: 8;

            &:after {
                content: " →";
            }
        }

        .discard-button.enabled:after,
        .next-game-button.enabled:before {
            border-style: solid;
            border-color: #ffffff;
            box-shadow: #640970 0 0 2vw, #640970 0 0 2vw inset;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            border-radius: 1.4vw;
        }
    }

    .deck {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}