.player {

    .player-buttons {
        display: flex;
        margin: 0 4vw;

        .pass-button {
            flex-grow: 5;

            &:before {
                content: "× ";
            }

            &.enabled {
                text-shadow: #06425a;

                &:after {
                    border-style: solid;
                    border-color: #ffffff;
                    box-shadow: #06425a 0 0 2vw, #06425a 0 0 2vw inset;
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: block;
                    border-radius: 1.4vw;
                }
            }
        }

        .discard-button {
            flex-grow: 8;

            &:before {
                content: "↑ ";
            }
        }

        .next-game-button {
            flex-grow: 8;

            &:after {
                content: " →";
            }
        }

        .discard-button.enabled:after,
        .next-game-button.enabled:before {
            border-style: solid;
            border-color: #ffffff;
            box-shadow: #640970 0 0 2vw, #640970 0 0 2vw inset;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            border-radius: 1.4vw;
        }
    }

    .player-rank {
        font-weight: 900;
        display: block;
        position: relative;
        text-align: center;
        font-size: 6vw;
        margin: 4vw 0;
        font-family: "M+ 1p black";
        text-shadow: 0.3vw 0.3vw #ffffff,
            0vw 0.3vw #ffffff,
            0.3vw 0vw #ffffff;

        &.turn {
            border-bottom-color: #cc1160;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            top: -3vw;
            width: 90%;
            border-style: solid;
            border-color: transparent;
            border-bottom-color: #909090;
            border-width: 5vw;

        }
    }

    .deck {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1vw 4vw;

        .card-container {
            width: 10vw;
            margin: 0 0.5vw;

            &.staging {
                transform: translate(0, -2vw);
            }
        }
    }
}