.main {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .game {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cpus {
            display: flex;

            .cpu {
                flex: 1;
            }
        }

        .board {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;

            .discard {

                .card-set {
                    display: none;

                    &:nth-child(1),
                    &:nth-child(2) {
                        display: flex;
                    }

                    justify-content: center;
                    align-items: center;

                    &:nth-child(2) {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: -16vw auto auto -8vw;
                        z-index: -1;
                    }

                    .card-container {
                        width: 10vw;
                    }
                }

            }

            .discardings {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: auto;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                animation-duration: 500ms;

                .card-set {

                    .card-container {
                        width: 10vw;
                    }
                }

                &.discardings-0 {
                    animation-name: discard-animation-0;
                }

                &.discardings-1 {
                    animation-name: discard-animation-1;
                }

                &.discardings-2 {
                    animation-name: discard-animation-2;
                }

                &.discardings-3 {
                    animation-name: discard-animation-3;
                }
            }

            @keyframes discard-animation-0 {
                from {
                    transform: translate(-16vw, -20vw);
                }

                to {
                    transform: translate(0, 0);
                }
            }

            @keyframes discard-animation-1 {
                from {
                    transform: translate(-6vw, -20vw);
                }

                to {
                    transform: translate(0, 0);
                }
            }

            @keyframes discard-animation-2 {
                from {
                    transform: translate(6vw, -20vw);
                }

                to {
                    transform: translate(0, 0);
                }
            }

            @keyframes discard-animation-3 {
                from {
                    transform: translate(16vw, -20vw);
                }

                to {
                    transform: translate(0, 0);
                }
            }
        }

        .player {
            flex: 1;
        }
    }
}