.main {
    height: 100%;

    .cpus {
        display: flex;

        .cpu {
            flex: 1;
        }
    }

    .board {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .computers {
            flex: 1;
        }

        .discard {
            flex: 1;
            display: flex;
            flex-direction: column;

            .card-set {
                flex: 1;
                display: flex;
                flex-direction: row;

                justify-content: space-between;

                .card-container {
                    flex: 1;
                }
            }
        }

        .player {
            flex: 1;
        }
    }
}