.main {
    height: 100%;

    .cpus {
        display: flex;

        .cpu {
            flex: 1;
        }
    }

    .board {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .computers {
            flex: 1;
        }

        .discard {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;

            .card-set {
                display: none;

                &:nth-child(1),
                &:nth-child(2) {
                    display: flex;
                }

                justify-content: center;
                align-items: center;

                &:nth-child(2) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: -16vw auto auto -8vw;
                    z-index: -1;
                }

                .card-container {
                    width: 10vw;
                }
            }
        }

        .player {
            flex: 1;
        }
    }
}